/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "whitney", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
}

/* COMMON */
.container{
    width: 75%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
}

/* BUTTONS */
.btn-small{
    padding: 0.8em 1.2em;
    border-radius: 25px;
}

.btn-large{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.8em 1.2em;
    border-radius: 25px;
}

.btn-white{
    color: #23272a;
    background-color: #ffffff;
}

.btn-black{
    color: #ffffff;
    background-color: #23272a;
}

.btn-blue{
    background-color: #8ea1e1;;
}

.text{
    color: #23272a;
}

.text-big{
    font-size: 2.5em;
}

.text-small{
    font-size: 1.2em;
    line-height: 1.5em;
}

.mb-1{
    margin-bottom: 1em;
}

.bg-c-grey{
    background-color: #f6f6f6;
}
/* COMMON END */

/* HEADER */
header{
    background-color: #3161e0;
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
}

/* NAV */
.column.nav-logo{
    width:20%;
}

.nav-logo img{
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.column.nav-menu{
    width:60%;
    text-align: center;
}

.column.nav-login{
    width:20%;
    text-align: right;
}

div.nav-menu li{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    margin: 0 2em;
}
/* HEADER END */

/* MAIN */
/* BANNER*/
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.banner-content{
    width: 50%;
    margin: 0 auto;
    padding: 8em 0;
    text-align: center;
    color:#ffffff;
}

.banner-content .banner-title{
    font-size: 3.5em;
    margin-bottom: 1em;
}

.banner-content .banner-text{
    font-size: 1.5em;
    line-height: 1.5em;
}

.banner-btn{
    margin: 1.5em auto;
}
/*BANNER END */

/* ADVANTAGES */
.column.image{
    width: 60%;
}

/* da controllare quando si invertono le colonne*/
.column.image img{
    padding: 5em 2em 5em 0; /* da controllare */
}

.column.text{
    width: 40%;
    text-align: left;
    padding: 8em 8em; /* da controllare */
}

/* FOOTER */
footer{
    background-color: #23272a;
    color:#ffffff
}

.column.footer-nav-menu.large{
    width: 30%;

    /* deb */
    border: 1px solid green;
}

.column.footer-nav-menu{
    width: calc((100% - 30%) / 4);

    /* deb */
    border: 1px solid green;
}

.footer-end{
    height: 150px;
    line-height: 150px;
    border-top: 2px solid #4a5882;
}

li.icon{
    display: inline-block;
}

.list-title{
    color: #7289da;
}

.column.nav-logo-footer{
    width:50%;
}

.nav-logo-footer img{
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.column.nav-register{
    width:50%;
    text-align: right;
}

.ita{
    height: 1em;
    width: auto;
}