/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "whitney", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* COMMON */
.container{
    width: 75%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
}

/* BUTTONS */
.btn-small{
    padding: 0.8em 1.2em;
    border-radius: 25px;
}

.btn-large{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.8em 1.2em;
    border-radius: 25px;
}

.btn-white{
    color: #23272a;
    background-color: #ffffff;
}

.btn-black{
    color: #ffffff;
    background-color: #23272a;
}

.text{
    color: #23272a;
}

.text-big{
    font-size: 2.5em;
}

.text-small{
    font-size: 1.2em;
    line-height: 1.5em;
}

.mb-1{
    margin-bottom: 1em;
}
/* COMMON END */

/* HEADER */
header{
    background-color: #3161e0;
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
}

/* NAV */
.column.nav-logo{
    width:20%;
}

.nav-logo img{
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.column.nav-menu{
    width:60%;
    text-align: center;
}

.column.nav-login{
    width:20%;
    text-align: right;
}

div.nav-menu li{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    margin: 0 2em;
}
/* HEADER END */

/* MAIN */
/* BANNER*/
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.banner-content{
    width: 50%;
    margin: 0 auto;
    padding: 8em 0;
    text-align: center;
    color:#ffffff;
}

.banner-content .banner-title{
    font-size: 3.5em;
    margin-bottom: 1em;
}

.banner-content .banner-text{
    font-size: 1.5em;
    line-height: 1.5em;
}

.banner-btn{
    margin: 1.5em auto;
}
/*BANNER END */

/* ADVANTAGES */
.advantages{

    /* deb */
    border: 2px solid red;
}

.column.image{
    width: 60%;

    border: 2px solid green;
}

/* da controllare quando si invertono le colonne*/
.column.image img{
    padding: 5em 2em;
    width: 100%;
}

.column.text{
    width: 40%;
    text-align: center;
    padding: 8em 8em;
}