/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "whitney", sans-serif;
}

ul{
    list-style: none;
}

/* COMMON */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;

    /* debug */
    height: 80px;
}

/* HEADER */
header{
    vertical-align: middle;
    line-height: 80px;
}

/* NAV */
.column.nav-logo{
    width:20%;

    /* debug */
    border: 1px solid red;
}

.nav-logo img{
    vertical-align: middle;
}

.column.nav-menu{
    width:60%;
    text-align: center;
    
    /* debug */
    border: 1px solid red;
}

.column.nav-login{
    width:20%;
    text-align: right;

    /* debug */
    border: 1px solid red;
}

div.nav-menu li{
    display: inline-block;
}

/* HEADER */
header{
    background-color: #3161e0;
    height: 80px;
}